* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  border-bottom: 4px solid grey;
}

h1, h2 {
  font-weight: bolder;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.intro-chunk {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 20px;
  max-width: 300px;
}

.title {
  margin-bottom: 3rem;
}

strong {
  color: green;
}

main {
  padding: 4rem 0;
  background-color: lightgrey;
}

.card {
  background-color: white;
  padding: 20px;
  border-bottom: 5px solid grey;
}

.indented-heading {
  background-color: gold;
  border-bottom: 5px goldenrod solid;
  padding: 20px;
  padding-left: 30px;
  margin: 0;
  margin-top: -10px;
  margin-inline-start: -30px;
}